<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/myApp/widget/css/demo.css" media="screen">
	<link rel="stylesheet" href="/static/myApp/widget/css/AuthorWidget.css" media="screen">
    <title></title>
</head>
<body>
	<div id="authorContainer">
        test DOJO
    </div>
	<script>
		 var dojoConfig  = (function(){
			var base = location.href.split("/");

			base.pop();
			base = base.join("/");
			return {
				async: true,
				isDebug: true,
				packages: [{
					name: "myApp",
					location: base + "/static/myApp"
				}]
			};
		})();
    </script>
	<script src="//ajax.googleapis.com/ajax/libs/dojo/1.10.3/dojo/dojo.js"></script>
	<script>
		// Bring in our custom widget
			require(["dojo/request", "dojo/dom", "dojo/_base/array", "myApp/widget/AuthorWidget",'dojo/_base/window', 'dojo/ready','dojo/_base/config', 'dojo/parser', "dojo/domReady!"],
				function(request, dom, arrayUtil, AuthorWidget, win, ready, config, parser){
					// Load up our authors
					ready(function() {
                        request("static/myApp/data/authors.json", {
                            handleAs: "json"
                    }).then(function(authors){
                            var authorContainer = dom.byId("authorContainer");
                            arrayUtil.forEach(authors, function(author){
                            var widget = new AuthorWidget(author).placeAt(authorContainer);
                        });
                    });
                });
			});
    </script>
</body>
</html>